<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" >
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
        </div>
    </div>
    
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
        <a id="nav-home" class="navbar-item" href="#home">
            Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" >
            Produtos
            </a>
            <div class="navbar-dropdown is-boxed">
            <a id="nav-cachorro" class="navbar-item" href="#cachorro">
                Cachorro
            </a>
            <a class="navbar-item" >
                Gatos
            </a>
            <a class="navbar-item" >
                Outros
            </a>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" >
            Serviços
            </a>
            <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" >
                Banho
            </a>
            <a class="navbar-item" >
                Veterinário
            </a>
            <a class="navbar-item" >
                Outros
            </a>
            </div>
        </div>
        </div>
    
        <div class="navbar-end">
        <div class="navbar-item">
            <div class="field is-grouped">
            <p class="control">
                <a class="button is-primary" >
                <span class="icon">
                    <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Entrar</span>
                </a>
            </p>
            </div>
        </div>
        </div>
    </div>
</nav>